/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|List{
	contentBackgroundColor: #ffffff;
}

s|View{
	backgroundColor: #f0f0f0;
}

global
{
	font-family: "Eurostile";
	font-weight: bold;
	font-size: 35;
}

s|View{
	backgroundAlpha: 0;
}

s|ActionBar 
{
	color: #EBEAC3;
	chrome-color: #A1ABB1;
	
}

s|Button 
{
	chrome-color: #EBEAC3;
	
}

s|ActionBar #titleDisplay
{
	color: #EBEAC3;
	font-weight: normal;
	font-size: 22;
	
}

#titleLabel{
	color: #F8F7CE;
}

@media all and (application-dpi: 160) 
{
	s|ActionBar #titleDisplay
	{
		font-size: 25;
		
	}
	
	#titleLabel{
		fontSize: 38;
	}
}

@media all and (application-dpi: 240) 
{
	s|ActionBar #titleDisplay
	{
		font-size: 35;
		
	}
	
	#titleLabel{
		fontSize: 50;
	}
}

@media all and (application-dpi: 320) 
{
	s|ActionBar #titleDisplay
	{
		font-size: 40;
		
	}
	
	#titleLabel{
		fontSize: 60;
	}
}



s|IconItemRenderer {
	chromeColor: #A1ABB1;
	contentBackgroundColor: #A1ABB1;
	rollOverColor: #A1ABB1;
	focusColor: #A1ABB1;
	selectionColor: #A1ABB1;
	color: #000000;
	
}


s|Label{
	fontSize: 30;
}

